{% extends 'index.html' %}

{% block body %}
<header>
    <h1 class="header">Web Caesar</h1>
</header>
<main>
    <section id="user-input" class="user-input">
        <div class="form">
            <form action="/" method="post" id="caesar" class="form">
                <div class="form"><label for="rotate">Rotate by: </label><input type="number" name="rot" id="rotate"
                        value="{{ rotation }}"></div>
                <div class="form">
                    <textarea name="msg" id="message" placeholder="Enter message here...">{{ user_message }}</textarea>
                </div>
                <div class="form"><button id="submit" class="button">Submit</button></div>
            </form>
        </div>
    </section>
</main>
<footer></footer>
{% endblock %}