<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Caesar</title>
</head>

<body>
    <header>
        <h1>Web Caesar</h1>
    </header>
    <main></main>
    <footer></footer>
</body>

</html>